@{
    ViewBag.Title = "About";
}
<!--<h2>@ViewBag.Title.</h2> -->
<h3>@ViewBag.Message</h3>

<div class="badge">
    <h1>August Technologies, Inc.</h1>
    <p>At August Technologies, Inc, we use the latest technologies to make your business great!</p>
</div>


